<p-toast></p-toast>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple  label="Nuevo" icon="pi pi-plus"
        class="p-button-success p-mr-2" (click)="Agregar()"></button>
    </ng-template>
  </p-toolbar>

<p-table #dt1 [value]="personas" [paginator]="true" [rows]="50" [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} personas" [rowsPerPageOptions]="[20, 50, 100]"
  [globalFilterFields]="['nombres','rutDni','correo','apellidoPaterno','apellidoMaterno']">

  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #searchInput (input)="dt1.filterGlobal(
          searchInput.value, 'contains')" placeholder="Buscar" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>RUT</th>
      <th>Nombres</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Nombre calle</th>
      <th>Numero</th>
      <th>Resto dirección</th>
      <th>Correo</th>
      <th>Fecha Nacimiento</th>
      <th>Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-persona>
    <tr>
      <td><span class="p-column-title">ID</span>{{ persona.id }}</td>
      <td><span class="p-column-title">RUT</span>{{ persona.rutDni }}</td>
      <td><span class="p-column-title">Nombres</span>{{ persona.nombres }}</td>
      <td><span class="p-column-title">Apellido Paterno</span>{{ persona.apellidoPaterno }}</td>
      <td><span class="p-column-title">Apellido Materno</span>{{ persona.apellidoMaterno }}</td>
      <td><span class="p-column-title">Nombre Calle</span>{{ persona.nombreCalle }}</td>
      <td><span class="p-column-title">Numero</span>{{ persona.numero }}</td>
      <td><span class="p-column-title">Resto direccion</span>{{ persona.restoDireccion }}</td>
      <td><span class="p-column-title">Correo</span>{{ persona.correo }}</td>
      <td><span class="p-column-title">Fecha nacimiento</span>{{ persona.fechaNacimiento }}</td>
      <td>
        <button pButton icon="pi pi-file-edit" pTooltip="Editar" class="button_color_primary" style="background-color:rgb(37, 199, 228)"
        (click)="editarUsuario(persona.id)" ></button>
        <button pButton icon="pi pi-delete-left" pTooltip="Eliminar" class="button_color_primary" style="background-color:rgb(239, 32, 32)"
        (click)="EliminarUsuario(persona.id)"></button>
          
      </td>


    </tr>
  </ng-template>
</p-table>